@font-face {
  font-family: 'Genericons';
  src: url('font/genericons-regular-webfont.eot');
  src: url('font/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/genericons-regular-webfont.woff') format('woff'),
       url('font/genericons-regular-webfont.ttf') format('truetype'),
       url('font/genericons-regular-webfont.svg#genericonsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.navbar-brand > svg {
  fill: white;
  width: 135px;
}
.navbar-custom {
  background-color: #f72210;
  color: white;
}
.navbar-custom a {
  color: white;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: white;
} 
.navbar a {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
}
.btn-yellow {
  background-color: #ffe400;
  border-radius: 25px;
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  padding: 0 10px;
}
.logo-large {
  fill: white;
}
.logo-large > svg {
  height: 60px;
}
.rankings {
  background-color: white;
}
#link-list {
  right: 0;
  float: right;
  list-style-type: none;
  width: 180px;
  padding-left: 5px;
  font-family: 'Roboto Condensed';
  font-size: 1.25rem;
  box-shadow: -2px 2px 2px #666666;
}
#link-list li {
  width: 170px
}
#link-list li::after {
  content: ">";
  float: right;
}
#wide-navbar {
  display: block;
  padding: 10px;
}
#wide-navbar ul {
  list-style-type: none;
}
#wide-navbar {
  font-family: 'Roboto Condensed', sans-serif;
}
#navbar-right-links * {
  text-transform: uppercase;
}
#link-list {
  display: block;
}
#small-navbar ul {
  display: inline-flex;
  flex-direction: row;
  float: right;
  margin-top: -5px;
}
.navbar-nav > .navbar-item {
  display: flex;
  align-items: center;
}
#login-link {
  margin-right: 10px;
}
#navbarSupportedContent {
  float: right;
  width: 100%;
}
#link-list {
  position: absolute;
  z-index: 1;
  background-color: white;
}
#content{ 
  position: relative;
  z-index: 0;
  padding-top: 60px;
}
.wrap {
  position: relative;
}
.category {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  color: white;
}
h5 {
  font-family: 'Roboto Condensed'; 
}
.category h5 {
  padding: 8px 15px 9px;
  color: #f72210; background: rgba(225,225,225,0.75);
  text-transform: uppercase;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
h4 {
  font-family: 'Roboto Condensed'; 
  font-weight: normal; color: black;
}
#content {
  background: #eeeeee;
}
hr#top-bar {
  border-top: 4px solid lightgray;
}
hr#middle-bar {
  height: .5px;
  border-top: 1px solid lightgray;
  border-bottom: 2px solid lightgray;
}
hr#bottom-bar {
  border-top: 4px solid lightgray;
}
.circle {
  background: black;
  color: lightgray;
  text-align: center;
  width: 30px;
  height:30px;
  border-radius: 50%;
  font-family: 'Roboto Condensed';
  padding-top: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -33px;
}
byline {
  font-family: 'Roboto Condensed';
  font-size: 1.25rem;
  color: gray;
  text-transform: uppercase;
}
byline::before {
  content: "BY "
}
#homepage-image {
  background-image: url("./img/starting5-homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -80px;
  height: 170px;
}
#newsletter-text{
  background-color: white;
  bottom: 0;
  height: 170px;
  border: 1px solid lightgray; 
}
#more-stories-medium, #more-stories-mobile > article {
  min-height: 95px;
}
.genericon {
  font-family: "Genericons";
  font-size: 1.6rem;
  color: #666;
}
a.genericon:hover {
  color: blue;
  text-decoration: none;
}
.genericon-facebook::before {
  content: "\f203";
}
.genericon-twitter::before {
  content: "\f202"
}
.genericon-instagram::before {
  content: "\f215"
}
.genericon-tumblr::before {
  content: "\f214"
}
.genericon-linkedin::before {
  content: "\f207";
}
#footer-links a, #lower-footer-links a {
  color: #666;
}
#subscribe-img-container {
  background: #f4f5f6; 
  min-height: 400px; 
  background-image: url('img/cover-october-09-16-2020.jpg'), url('img/cover-october-02-2020.jpg'); 
  background-size: 30%, 30%; 
  background-repeat: no-repeat, no-repeat; 
  background-position: 65% 30%, 35% 20%;
}
.left-content,
.middle-content,
.right-content {
  background-color: white;
}
@media (max-width: 426px) {
  #subscription-link {
    display: none;
  }
}
@media (min-width:768px) {
  #footer-links li:nth-child(n+3):before, 
  #lower-footer-links li:nth-child(n+2):before {
    content: " | ";
    margin-right: 8px;
    color: #ccc !important;
  }
  #subscribe-img-container {
    min-height: 301px;
    background-size: 25%, 25%;
    background-position: 15% 65%, 5% 35%;
  }
  #subscribe-img-container > h5,
  #subscribe-img-container > h6,
  #subscribe-img-container > button {
    margin-left: 45% !important;
    align-self: flex-start !important;
  }
}

@media (min-width:992px) {
  #content {
    padding: 0px;
  }
}

.row{
  margin-left: 0;
  margin-right: 0;
}

